body {
    box-sizing: border-box;
    font-size: 24px;
    font-family: "poppins", sans-serif;
    color: white;
    background-color: #f5f2df;
}

.container {
    background-color: #f5f2df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.container > * {
    margin: 32px;
}

.header {
    font-size: 48px;
    width: 600px;
    text-align: center;
    border: 3px solid black;
    border-radius: 4px;
    background-color: #cc0e24;
    padding: 16px 32px;
}

.button-container {
    width: 750px;
    border: 3px solid black;
    border-radius: 4px;
    padding: 48px;
    background-color: #cc0e24;
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

button {
    height: 200px;
    border: 3px solid black;
    border-radius: 4px;
    background-color: #0804d4;
    color: white;
    flex: 1;
    font-size: 32px;
}

button:hover {
    background-color: #4e89ed;
}


button:active {
    background-color: #0025a1;
}

/* first child shows X beats Y & round winner,
second one shows score & game winner */
.info-container {
    width: 600px;
    background-color: #cc0e24;
    border: 3px solid black;
    border-radius: 4px;
    font-size: 22px;
    padding: 32px 64px;
    text-align: center;
}